h1 {position: fixed;
		top: 0px;
		left: 0px;
		margin: 0px;
		padding: 10px;
		width: 100%;
		background-color: #000000;
		z-index: 10;
		font-family: Impact, Arial, sans-serif;
		color: #ffffff;
		text-align: center;}
	body {
		background-image: url("Images/Yinyang2.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center center;
		width: 90%;
		margin: 0 auto;
		text-align: left;}
	h2 {font-family: Impact;
		text-align: center}
	td {
		border: 1px solid #000000;
		padding: 15px;}
	#content {
		overflow: auto;}
	#nav, #feature, #footer {
		text-align: center;
		margin: 1%;}
	.column1, .column2 {
		width: 46.85%;
		height: 400px;
		float: left;
		margin: 1%;}
	.column3 {
		width: 97%;
		height: 600px;
		float: auto;
		margin: 1%;
		text-align: center;
		clear:both;}
	.column4, .column5, .column6 {
		width: 30.218%;
		height: 300px;
		float: left;
		margin: 1%;}
	.column6 {
		text-align: center;
	}
	iframe {padding-left: 25%;
			padding-right: 25%}
	li.navTop {
		display: inline;
		padding: 1%;}
	#nav, #footer {
	margin: 1%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
	padding: 0.5em, 0;
	clear:both;
	box-shadow:10px 10px black}
	#feature, .article {
	padding-left: 1%;
	height: 10em;
	margin: 1%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60);
	box-shadow:10px 10px black}
    table {
    	width: 98%;
    }
    th {
    	text-align: left;
    }
	#locationBox {
		height:400px;}
	#classesBox {
		list-style-position: right;
		height:400px;}
	#scheduleBox {
		height:450px;}
	#pricingBox {
		height:330px;}
	#instructorsBox {
		height:330px;}
	#contactBox {
		height:330px;}